<div class="column is-4 is-offset-4">
    <h3 class="title">Item Add</h3>
    <div class="box">
        <form method="POST" action="/items/add/">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="iname" placeholder="Name" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="iprice" placeholder="Price">
                </div>
            </div>
            <button class="button is-block is-info is-large is-fullwidth">Add</button>
        </form>
    </div>
    <div class="flash-messages">
        {% for message in get_flashed_messages() %}
          <p>{{ message }}</p>
        {% endfor %}
    </div>

    <button><a href="/items/display/">Show Data</a></button>

    <h3 class="title">Item Display</h3>

<table>
    <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
    </thead>

    <tbody>
        {% for d in data %}
        <tr>
            <td>{{d.id}}</td>
            <td>{{d.name}}</td>
            <td>{{d.price}}</td>
        </tr>>
        {% endfor %}
    </tbody>

</table>
<br>

<h3>Total Of All Items: {{total_price}}</h3>

<br>

</div>
